{{ define "partials/playdate.html" }}
  {{ if .Errors }}
    {{ if .Errors.PlayDate }}
      <div>{{ .Errors.PlayDate }}</div>
    {{ end }}
  {{ else }}
    <div id="playdate">
      <div class="mb-3">
        <label for="nameInput" class="form-label">Name:</label>
        <input
          type="text"
          class="form-control"
          id="nameInput"
          value="{{ .PlayDate.Game }}"
          readonly
        />
      </div>
      <div class="mb-5">
        <label for="timeInput" class="form-label">Time:</label>
        <input
          type="text"
          class="form-control"
          id="timeInput"
          aria-describedby="timeInputHelp"
          value="{{ .PlayDate.Date | formatTime }}"
          readonly
        />
        <small id="timeInputHelp" class="form-text text-muted"
          >Raw value: {{ .PlayDate.Date }}</small
        >
      </div>
      <div class="mb-5">
        <label for="timeInput" class="form-label">Created Date:</label>
        <input
          type="text"
          class="form-control"
          id="timeInput"
          value="{{ .PlayDate.CreatedDate | formatTime }}"
          readonly
        />
        <small id="timeInputHelp" class="form-text text-muted"
          >Raw value: {{ .PlayDate.CreatedDate }}</small
        >
      </div>
      <div class="mb-5">
        <label for="timeInput" class="form-label">Status:</label>
        <input
          type="text"
          class="form-control"
          id="statusInput"
          value="{{ .PlayDate.Status }}"
          readonly
        />
      </div>
      {{ template "partials/players-table.html" . }}
    </div>
  {{ end }}
{{ end }}
