{{ define "partials/register.html" }}
{{ if .ServerError }}
<div>{{.ServerError}}</div>
{{ end }}
<div id="registration">
    <h3 class="">Register/Sign-in</h3>
    <form class="{{- if .Errors -}} was-validated {{- else -}} needs-validated {{- end -}}"
          hx-post="/register"
          hx-swap="outerHTML"
          hx-target="#registration"
          novalidate>
        <div class="mb-3">
            <label class="form-label" for="name">Name</label>
            <input class="form-control"
                   type="text"
                   name="name"
                   value="{{ .Name }}"
                   required />
            {{- if .Errors }}
            {{- if index .Errors "name" }}
            <div class="invalid-feedback">{{ index .Errors "name" }}</div>
            {{- else }}
            <div class="valid-feedback"></div>
            {{- end }}
            {{- end }}
        </div>
        <div class="mb-3">
            <label class="form-label" for="discID">Discord ID</label>
            <input class="form-control"
                   type="text"
                   name="discID"
                   value="{{ .DiscID }}"
                   required />
            {{- if .Errors }}
            {{- if index .Errors "discID" }}
            <div class="invalid-feedback">{{ index .Errors "discID" }}</div>
            {{- else }}
            <div class="valid-feedback"></div>
            {{- end }}
            {{- end }}
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
</div>
{{ end }}
