package templates

import "fmt"

type BaseState struct {
	ServerError string
}

templ Base(body templ.Component) {
	<html lang="en" data-theme="dark">
		@head()
		<body class="flex place-content-center mx-auto max-w-7xl">
			@header()
			<main>
				@body
			</main>
		</body>
	</html>
}

templ head() {
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>PlayDate</title>
		// install htmx
		<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
		// tailwind
		<link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css"/>
		<link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css"/>
		<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
		// install fontawesome
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
			integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
	</head>
}

templ header() {
	<header class="flex place-content-center">
		<h1 class="text-4xl font-bold">
			<a class="" href="/">PlayDate</a>
		</h1>
	</header>
}

templ serverError(err string) {
	<div class="alert alert-danger" role="alert">
		<span>
			You have encountered a server error. The operation you tried failed, please include the information below when filing a bug report!
		</span>
		<br/>
		<span>
			{ err }
		</span>
	</div>
}

type field struct {
	name      string
	label     string
	fieldType string
	value     string
	err       string
	helpText  string
	required  bool
	readonly  bool
}

// formField
templ formField(f field) {
	<fieldset class="fieldset">
		<label class="label" for={ f.label }>{ f.name }</label>
		<input
			if f.err != "" {
				class="input alert alert-error alert-outline"
			} else if f.value != "" {
				class="input alert alert-success alert-outline"
			} else {
				class="input"
			}
			type={ f.fieldType }
			name={ f.label }
			value={ f.value }
			if f.required {
				required
			}
			else
			if f.readonly {
				readonly
			}
		/>
		if f.helpText != "" {
			<small id={ fmt.Sprintf("%sHelp", f.label) } class="alert alert-info">
				{ f.helpText }
			</small>
		}
		if f.err != "" {
			<div class="alert alert-error">{ f.err }</div>
		}
	</fieldset>
}
