<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gin + HTMX Example</title>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="text-center">
        <h1 class="text-3xl bold underline">Welcome to PlayDate!</h1>

        <div class="">
            <form hx-post="/player" hx-target="#players-list" hx-swap="beforeend">
                    <input type="text" name="name" placeholder="player name..." required>
                <button type="submit">Create Player</button>
            </form>
            <ul id="players-list">
                {{ range .Players }}
                    {{ template "player-item.html" . }}
                {{ end }}
            </ul>
        </div>

        <div class="">
            <form class="" hx-post="/playdate" hx-target="#playdate-list" hx-swap="beforeend">
                    <input type="text" name="game" placeholder="What game are you going to play?" required>
                    <input type="datetime-local" name="datetime" placeholder="What time would you like to play?" required>
                                    <button type="submit">Create PlayDate</button>
            </form>
            <ul id="playdate-list">
                {{ range .PlayDates }}
                    {{ template "playdate-item.html" . }}
                {{ end }}
            </ul>
        </div>
    </div>
</body>
</html>
