<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PlayDate</title>
    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="./custom-colors.css" />
  </head>
  <body class="container mt-5 bg-primary">
    <header class="bg-primary">
      <div class="container">
        <h1 class="display-1 text-center">PlayDate</h1>
      </div>
    </header>

    <div>
      {{- if .SignedUp }}
        {{ template "home.html" . }}
      {{- else }}
        {{ template "register.html" }}
      {{- end }}
    </div>
  </body>
</html>
