package templates

import (
	"fmt"
	"uc181discord/games/bot/internal/model"
	"uc181discord/games/bot/internal/util"
)

type PlayDateState struct {
	PlayDate        *model.PlayDate
	PlayDatePlayers []*model.PlayDateToPlayer
	Errors          map[string]string
}

templ PlayDate(state PlayDateState) {
	if errPlayDate, ok := state.Errors["PlayDate"]; ok {
		<div>{ errPlayDate }</div>
	} else {
		<div id="playdate">
			@formField(
				field{
					name:      "Name:",
					label:     "name",
					fieldType: "text",
					value:     state.PlayDate.Game,
					readonly:  true,
				},
			)
			@formField(
				field{
					name:      "Time:",
					label:     "time",
					fieldType: "text",
					value:     util.FormatTime(state.PlayDate.Date),
					readonly:  true,
					helpText:  fmt.Sprintf("Raw value: %s", state.PlayDate.Date),
				},
			)
			@formField(
				field{
					name:      "Created Date:",
					label:     "createdDate",
					fieldType: "text",
					value:     util.FormatTime(state.PlayDate.CreatedDate),
					readonly:  true,
					helpText:  fmt.Sprintf("Raw value: %s", state.PlayDate.CreatedDate),
				},
			)
			@formField(
				field{
					name:      "Status:",
					label:     "status",
					fieldType: "text",
					value:     string(state.PlayDate.Status),
					readonly:  true,
				},
			)
			@PlayDateAttendance(state)
			@PlayDateAttendanceError(state)
			<br></br>
			@PlayDateTable(state)
		</div>
	}
}

templ PlayDateAttendance(state PlayDateState) {
	<div class="btn-group" role="group">
		<button
			type="button"
			class="btn btn-primary"
			hx-post={ fmt.Sprintf("/playdate/%d/yes", state.PlayDate.ID) }
			hx-target="#players-table"
			hx-swap="outerHTML"
		>
			Sign up
		</button>
		<button
			type="button"
			class="btn btn-secondary"
			hx-post={ fmt.Sprintf("/playdate/%d/maybe", state.PlayDate.ID) }
			hx-target="#players-table"
			hx-swap="outerHTML"
		>
			Maybe
		</button>
		<button
			type="button"
			class="btn btn-danger"
			hx-post={ fmt.Sprintf("/playdate/%d/no", state.PlayDate.ID) }
			hx-target="#players-table"
			hx-swap="outerHTML"
		>
			No
		</button>
	</div>
}

templ PlayDateAttendanceError(state PlayDateState) {
	<div id="playdate-attendance-error">
		if len(state.Errors) > 0 {
			if errPlayDatePlayers, ok := state.Errors["PlayDatePlayers"]; ok {
				{ errPlayDatePlayers }
			}
		}
	</div>
}

templ PlayDateTable(state PlayDateState) {
	<table
		id="players-table"
		class="table table-striped table-hover table-responsive"
	>
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Attendence</th>
				<th scope="col">
				</th>
			</tr>
		</thead>
		<tbody>
			if len(state.PlayDatePlayers) > 0 {
				for _, player := range state.PlayDatePlayers {
						<tr>
							<td scope="row">{ player.Player.Name }</td>
							<td scope="row">{ player.Attending }</td>
							<td>
								<!-- Add a cell to align with the header buttons -->
							</td>
						</tr>
					}
			} else {
				<tr>
					<td scope="row">No players are signed up yet.. T.T</td>
					<td>
						<!-- Add a cell to align with the header buttons -->
					</td>
					<td>
						<!-- Add a cell to align with the header buttons -->
					</td>
				</tr>
			}
		</tbody>
	</table>
}
